@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 262 34% 100%;
    --foreground: 262 68% 1%;
    --muted: 262 16% 85%;
    --muted-foreground: 262 12% 31%;
    --popover: 262 34% 100%;
    --popover-foreground: 262 68% 1%;
    --card: 262 34% 100%;
    --card-foreground: 262 68% 1%;
    --border: 262 9% 92%;
    --input: 262 9% 92%;
    --primary: 262 86% 80%;
    --primary-foreground: 262 86% 20%;
    --secondary: 262 8% 91%;
    --secondary-foreground: 262 8% 31%;
    --accent: 262 8% 91%;
    --accent-foreground: 262 8% 31%;
    --destructive: 12 95% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 262 86% 80%;
    --radius: 0.5rem;

    --chart-1: 240 100% 80%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 262 36% 3%;
    --foreground: 262 36% 100%;
    --muted: 262 16% 15%;
    --muted-foreground: 262 12% 69%;
    --popover: 262 36% 3%;
    --popover-foreground: 262 36% 100%;
    --card: 262 36% 3%;
    --card-foreground: 262 36% 100%;
    --border: 262 9% 12%;
    --input: 262 9% 12%;
    --primary: 262 86% 80%;
    --primary-foreground: 262 86% 20%;
    --secondary: 262 6% 8%;
    --secondary-foreground: 262 6% 68%;
    --accent: 262 6% 8%;
    --accent-foreground: 262 6% 68%;
    --destructive: 12 95% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 262 86% 80%;

    --chart-1: 262 86% 80%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
